html {
  margin: 0;
  height: 100%;
}

body {
  background-image: url('./images/mars.jpg');
  background-size: cover;
  animation: moveIt 30s linear infinite;
  animation-direction: alternate;
}
@keyframes moveIt {
  from {background-position: bottom left;}
  to {background-position: top right;}
}

.App {
  text-align: center;
}